/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #080707; /* Light gray background */
}

/* Header Styles */
header {
  height: 100vh;
  padding: 20px;
  background-image: url("./sai-photo2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: dodgerblue;
}

/* Landing Section Styles */
.landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.landing .intro {
  max-width: 50%;
}

.landing .intro h3 {
  color: dodgerblue;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.landing .intro button {
  padding: 10px 20px;
  background-color: dodgerblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landing .intro button:hover {
  background-color: #2196f3;
}

/* About Section Styles */
.about {
  background-color: #070707;
  padding: 50px;
}

.about h1 {
  color: dodgerblue;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.about p::before {
  content: "•";
  color: dodgerblue;
  margin-right: 10px;
}

.about img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Skills Section Styles */
.skills {
  background-color: #fbf7f7;
  padding: 50px;
}

.skills h1 {
  color: dodgerblue;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.skills .hello {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.skills .hello img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 50%;
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }
  
  .landing {
    flex-direction: column;
    text-align: center;
  }
  
  .landing .intro,
  .landing .intro button {
    width: 100%;
  }
  
  .about {
    padding: 20px;
  }
  
  .aboutme h1 {
    margin-left: 0;
    text-align: center;
  }
  
  .aboutme p {
    margin-left: 0;
    text-align: center;
  }
  
  .education {
    padding-left: 10%;
  }
}
